@model IEnumerable<shiny.Models.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Socken</h2>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>

                <img src="@String.Format("data:image/png;base64,{0}", item.Bild)" />
                @Html.DisplayFor(modelItem => item.Preis)
                @Html.DisplayFor(modelItem => item.Name)
                @Html.ActionLink("Details", "Details", new { id = item.ItemID })
            </td>
        </tr>
    }

</table>
