@model IEnumerable<shiny.Models.Item>

@{
    ViewBag.Title = "Index";
}
<!Doctype html>

<header>
    <meta name="Socken" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Index.css" type="text/css" />
</header>

<body>


    <h2>Socken</h2>

    <table class="table">

        @foreach (var item in Model)
        {

            <tr>
                <td>
                    <img class="sockimage" src="@String.Format("data:image/png;base64,{0}", item.Bild)" />
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Preis)
                    @Html.DisplayFor(modelItem => item.Name)
                    @Html.ActionLink("Details", "Details", new { id = item.ItemID })

                </td>
            </tr>
        }

    </table>
</body>