@model IEnumerable<shiny.Models.Item>

@{
    ViewBag.Title = "Index";
}
<!Doctype html>

<header>
    <meta name="Socken" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Index.css" type="text/css" />
</header>

<body>


    <h2>Socken</h2>

    <table class="table">
        <tr>
            @foreach (var item in Model)
            {


            <td onclick="location.href = '@(Url.Action("Details", "Items", new { id = item.ItemID }))'">

                <div>
                    <img class="sockimage" src="@String.Format("data:image/png;base64,{0}", item.Bild)" />
                </div>

                <div class="index-Name">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>

                <div class="index-Preis">
                    @Html.DisplayFor(modelItem => item.Preis)
                </div>
            </td>
            }
        </tr>
    </table>
</body>